@charset "utf-8";
/* CSS Document */

.clearfix:after { content: ""; display: block; clear: both; }

/* 背景 */
#img01 { z-index: 100; }
#img02_01 { z-index: 9; }
#img02_02 { z-index: 8; }
#img02_03 { z-index: 7; }
#img03_01 { z-index: 6; }
#img03_02 { z-index: 5; }
#img03_03 { z-index: 4; }

#myheader {
  z-index: 51;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 60px;
  background-color: black;
}

#menubar {
  width: 70%;
  padding: 20px;
  margin: 0 auto 0;
}

.headerChild {
  float:left;
  margin: 0 50px 0 0;
  font-size: 15pt;
  color: white;
}

img.bg {
  position: fixed;
  /* またはabsolute; */
  top: 0;
  left: 0;
  
  min-height: auto;
  min-width: 100%;
  height: 100%;
  width: auto;
}

#global_container {
	z-index: 50;
	
	height: 1200px;
	position: relative;
	display: block;
	margin: 100px auto;
}

.contents {
	position: absolute;
	display: block;

	left: 500px;
}

#elem1 { z-index: 50; width: 600px;	height: 600px; }
#elem2 { z-index: 50; width: 800px;	height: 800px;}
